.form {
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.2s;

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    border-bottom: 3px solid $color-primary;

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 45%;
    display: inline-block;
    padding-left: 0.5rem;

    @include for-mobile {
      display: block;
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  &__radio-label {
    font-size: $font-size-default;
    padding-left: 4rem;
    cursor: pointer;
    position: relative;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 3px solid $color-primary;
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    left: 0rem;
    top: -0.5rem;

    &::after {
      @include absolute-center;

      content: "";
      height: 1.5rem;
      width: 1.5rem;
      display: block;
      background-color: $color-primary;
      border-radius: 50%;

      transform: translate(-50%, -50%) scale(0);

      transition: all 0.2s;
      opacity: 0;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
