.text-center {
  text-align: center !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}
